@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-canvas text-ink;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c7d0;
  border-radius: 999px;
}
